* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-1 {
  margin: 1.5rem 0;
}
.my-2 {
  margin: 2.5rem 0;
}
.my-3 {
  margin: 4rem 0;
}
.py-1 {
  margin: 1.5rem 0;
}
.py-2 {
  margin: 2.5rem 0;
}
.py-1 {
  margin: 4rem 0;
}
.mb-1 {
  margin-bottom: 2rem;
}
body {
  background: #f4f4f4;
}

h1.description {
  font-size: 3.5rem;
  /* font-weight: bolder; */
}
ul li a {
  text-decoration: none;
  color: #fff;
}

.logo {
  cursor: pointer;
}

header {
  font-family: "Raleway", sans-serif;
  position: relative;
  background: url("../images/background.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  height: 80vh;
  z-index: 1;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(44, 45, 49, 0.767);
}

nav {
  position: sticky;
  top: 0;
  /* background: rgba(143, 143, 143, 0.411); */
  z-index: 1;
}

nav .nav-container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

nav .nav-container ul {
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

nav .nav-container img {
  width: 80px;
}

/* ul li {
  margin: 1rem;
} */

ul li a {
  position: relative;
  padding: 1rem;
}
ul li a::after {
  position: absolute;
  content: "";
  bottom: 10px;
  left: 10%;
  height: 2px;
  width: 80%;
  background: rgba(93, 255, 242, 0.705);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 200ms ease-in-out;
}

ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.showcase {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 90%;
}

.showcase .showcase-content {
  color: #fff;
  margin: 0 auto 100px;
  text-align: center;
  font-size: 1.3rem;
}

.showcase p.greet {
  color: rgba(93, 255, 242, 0.705);
  text-align: start;
}
.showcase-content .profession {
  opacity: 0.6;
}

.showcase-content .down-arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background: none;
  border: none;
  font-size: 3rem;
  opacity: 0.4;
  color: #fff;
}

#about {
  text-align: center;
  font-family: "Josefin Slab";
  font-size: 1.5rem;
}

#about .about-container {
  max-width: 700px;
  /* background-color: #333; */
  margin: 0 auto;
  text-align: center;
}
.about-container .p-heading {
  display: inline-block;
  position: relative;
  padding: 2rem;
}

.about-container .p-heading::after {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 82%;
  height: 2px;
  background: rgb(47, 161, 142);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 200ms ease-in;
}

.about-container .p-heading:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.profile-pic {
  width: 150px;
  height: 150px;
  background: url("../images/profile-pic.jpg") no-repeat center center/cover;
  margin: 0 auto 2rem;
  border-radius: 50%;
}
/* .profile-pic img {
  width: 150px;
} */

.profile-pic:hover img {
  transform: scale(1.3);
}
